{% extends 'web2print/layout.html.twig' %}

{%  block content %}

<h1>{{ club.name }}</h1>
<div class="details">
    <div id="detail-info">
        <img src="{{ club.fc_logo.getFullPath()}}" alt="{{ club.name }}" class="club-logo">
        
        <p><strong>Year established:</strong> {{ club.year_established }}</p>
        <p><strong>Website: </strong><a href="{{ club.website }}" target="_blank">{{ club.website }} </a></p>

    </div>
    {% if club.location %}
    <div id="detail-map">
        <div id="map"></div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var map = L.map('map').setView([{{ club.location.latitude }}, {{ club.location.longitude }}], 13);

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; OpenStreetMap contributors'
                }).addTo(map);

                L.marker([{{ club.location.latitude }}, {{ club.location.longitude }}]).addTo(map)
                    .bindPopup("{{ club.name }}")
                    .openPopup();
            });
        </script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        <span>Location coordinates: {{ club.location }}</span>
    </div>
    {% endif %}
</div>

<h2>Players</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Position</th>
        <th>Age</th>
    </tr>
    {% for player in players %}
    <tr>
        <td>{{ player.name }}</td>
        <td>{{ player.number }}</td>
        <td>{{ player.position }}</td>
        <td>{{ player.age }}</td>
    </tr>
    {% endfor %}
</table>

<a href="{{ path('club_list') }}">Back to the fancy list</a>


{% endblock %}

