{% extends 'web2print/layout.html.twig' %}

{% block content %}

<h1>Fußballvereine</h1>
<div class="club-list">
    {% for club in clubs %}
        <div class="club">
            <a href="{{ path('club_detail', { slug: club.getId() }) }}">
                <div class="logo_wrapper">
                    <img src="{{ club.fc_logo}}" alt="{{ club.name }}" class="club-logo">
                </div>
                {{ club.name }}
            </a>
            <p>Player count: {{ playerCounts[club.id] }}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}